.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100.0%;
  height: 933px;
}

.Map {
  height: 55vh;
  max-height: 550px;
  width: 100%;
  display: block;
  margin-top: .5%;
}


